.title {
  font-weight: 700;
  padding-top: 30px;
}

::marker {
  //content: counters(list-item, ".") " ";
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}