<h2 class="title text-center text-uppercase pb-5">
    Veille technologique
</h2>
<div class="container text-justify pb-5">
    <ol class="pt-2">
        <li class="pt-2">
            <h3>QU’EST-CE QU’UNE VEILLE TECHNOLOGIQUE</h3>
            <ol>
                <li>
                    <h5>Définition:</h5>
                    <p> La veille technologique est une activité qui consiste à se tenir au courant des avancés
                        technologique dans le
                        domaine de l’informatique afin de tirer parti de ses avancées le plus rapidement possible. Et
                        pour <a href="https://en.wikipedia.org/wiki/Steven_C._Wheelwright" target="blanks"> Steven
                            C.Wheel
                            Wright</a> ancien professeur émérite de l’université de Harvard- « La veille technologique
                        est constituée
                        par
                        l’ensemble
                        des techniques visant à organiser de façon systématique la collecte, l’analyse, la diffusion de
                        l’exploitation
                        des
                        informations techniques utiles à la sauvegarde et à la croissance des entreprises. »</p>
                </li>
                <li>
                    <h5>EXEMPLE DE LA VEILLE TECHNOLOGIQUE:</h5>
                    <p> Voici un exemple de la veille technologique réalisée par un étudiant en BTS SIO option SLAM sur
                        le sujet de « <a href="https://veille-techno-bts-sio.webnode.fr/cyber-securite/"
                            target="blanks">cyber sécurité </a>». Le
                        lien :
                        <a href="https://veille-techno-bts-sio.webnode.fr/veille-technologique/"
                            target="blanks">https://veille-techno-bts-sio.webnode.fr/veille-technologique/</a> Celle-ci
                        comporte
                        effectivement
                        une courte description de la veille technologique et ses outils ainsi que la définition et
                        l’explication de
                        thème «
                        cyber sécurité ».
                    </p>
                </li>
            </ol>
        </li>
        <li class="pt-2">
            <h3>COMMENT METTRE EN PLACE UNE VEILLE TECHNOLOGIQUE</h3>
            <ol>
                <li>
                    <h5>MISE EN PLACE DES OUTILS:</h5>
                    <p>Pour mettre en places une veille technologique on peut dépendre sur plusieurs outils:</p>
                    <ul class="pb-2">
                        <li><strong>Flux RSS</strong> est un agrégateur de type « <strong>Feedly</strong> » ce dernier
                            est propos un
                            moteur de recherche
                            et il permet via interface web de gérer et personnaliser ses abonnements à des flux RSS.
                            Voici quelque exemple des flux RSS : « <strong>PHPToday.org, Développez.com, Korben,
                                Synbioz,…</strong> »
                        </li>
                        <li><strong>Netvibes</strong> qui permet à travers d’un tableau de bord de garder un œil sur
                            l’ensemble des
                            plus grands sites d’actualité informatique mais également de rester informé sur les derniers
                            articles traitent des sujets de veille que j’ai choisi. </li>
                        <li><strong>Les alertes Google</strong>, Google propose un service d’alertes par e-mail et/ou
                            par Flux RSS
                            quand une page traite d’un sujet qui nous intéresse comme des articles qui traitent nos
                            sujets de veille.</li>
                    </ul>
                </li>
                <li>
                    <h5>ORGANISER ET TRIER LES INFORMATIONS:</h5>
                    <p>Lorsque on trouve les bons outils et les bonnes sources d’informations, on attaque la deuxième
                        étape d’organiser et de trier les informations, donc il faut effectuer une lecture rapide des
                        sources, et, suivant le titre de l’articles éliminer les informations non pertinentes. Il y a
                        aussi la méthode de Cloud Personnel à la base de Next cloud on peut utiliser cela pour organiser
                        les idées en y greffant un plugin nommée Deck. Ce plugin nous donne la possibilité de créer des
                        tableaux dans le navigateur dans lequel on peut classer et hiérarchiser des éléments. En plus de
                        cela, dans l’instance de Cloud on a aussi la possibilité de gérer nos favoris internet, et
                        garder les articles de veille sous la main.</p>
                </li>
                <li>
                    <h5>FINALISATION ET PARTAGE DES INFORMATIONS:</h5>
                    <p> La dernière étape de la veille technologique, est de partager les informations de l’article vers
                        le public, sous forme écrit ou sous vidéo, et pour cela nous disposons plusieurs méthodes, soit
                        de publier la veille technologique sur les réseaux sociaux « Facebook, Twitter, YouTube… », ou
                        autrement créer un site web ou un blog contenant tous les information (c’est notre cas).</p>
                </li>
            </ol>
        </li>
        <li class="pt-2">
            <h3>LA REALITE AUGMENTEE</h3>
            <ol>
                <li>
                    <h5>DEFINITION:</h5>
                    <p><strong>La réalité augmentée</strong> est (ou RA) est une technologie qui permet d’intégrer des
                        éléments virtuels
                        en 3D (en temps réel) au sein d’un environnement réel. Le principe est de combiner le virtuel et
                        le réel et donner l’illusion d’une intégration parfaite à l’utilisateur. Voici un vidéo qui vous
                        explique comment fonctionne la Réalité augmentée : Le lien : <a
                            href="https://youtu.be/en_2q4oztzE">https://youtu.be/en_2q4oztzE</a></p>
                </li>
                <li>
                    <h5>HISTOIRE DE LA REALITE AUGMENTEE :</h5>
                    <p>Le premier système de la réalité augmentée fut conçu en 1968 par Ivan Sutherland, dans le cadre
                        de recherche au MIT au sein de la prestigieuse université de Boston. Il s’agit à l’époque d’un
                        casque disposant de deux lentilles au niveau des yeux. Celui-ci était relié à l’ordinateur grâce
                        à un bras articulé, d’où le surnom qu’on lui donne à l’époque : épée de Damoclès. L’expérience
                        consiste L’expérience consiste à afficher un cube en <strong>3D</strong> à travers les
                        lentilles. Un ordinateur
                        recalcule l’image et l’angle de vue afin de suivre les mouvements de tête de l’utilisateur. Ce
                        dispositif pose les bases de la réalité augmentée. </p>
                    <p> les années 80, ce sont les systèmes HUD
                        (Head-up displays ou vision tête-haute) qui sont développés, notamment dans l’armée. Ce système
                        permet d’afficher quelques informations à travers un petit écran transparent, situé dans le
                        champ de vision du pilote/conducteur. On retrouve actuellement ces HUD dans certains véhicules
                        afin d’afficher des informations tels la vitesse, chemins de destinations ou encore les panneaux
                        rencontrés. Par la suite, la NASA développe également un casque de réalité augmentée,
                        préfigurant ce que sera le <strong>Microsoft Hololens</strong> 30 ans plus tard. Léger mais
                        nécessitant de
                        l’informatique embarqué, cet outil permet aux opérateurs d’ajouter une surcouche d’information
                        sur les éléments physique. Plusieurs autres projets similaires verront le jour.</p>
                    <p>
                        Il faudra attendre les années 90 pour que le terme « réalité augmentée » soit évoqué. En effet,
                        Tom Caudell et David Mizell, deux salariés de chez Boeing, ont développé un outil destiné aux
                        salariés du groupe travaillant sur les chaines de production. Ce système rajoutait <Strong>une
                            couche d’information</Strong> sur certains éléments de la chaine, permettant d’avoir un plan
                        technique se fixant
                        sur l’élément physique. En 1994, Rekimoto et Takashi, deux scientifiques travaillent pour
                        <strong>Sony Computer</strong> laboratoire, développent <Strong>NaviCam</Strong>, le premier
                        système de la réalité
                        augmentée capable de lire des marqueurs. Très basique et rapide, il permettait de lancer des
                        informations textuelles
                        qui venaient se greffer au réel le biais d’un casque équipé d’un HUD. Les marqueurs deviendront
                        par la suite le support de référence afin de fixer des éléments virtuels dans le temps réel en
                        offrant un temps de réponse très rapide.
                    </p>
                </li>
                <li>
                    <h5>LES MARQUEURS : PREMIERE ETAPE DE LA REALITE AUGMENTEE MOBILE:</h5>
                    <p>Les marqueurs sont des repères visuels détectés par l’appareil afin d’effectuer une action. Ils
                        peuvent prendre la forme d’une image ou d’un symbole mais doivent avant tout proposer un
                        contraste important afin d’optimiser la détection. Ils servent de repères afin de fixer un
                        élément en 3D par le biais de la caméra, indispensable au dispositif. Cependant, les marqueurs
                        sont, à terme, amenés à disparaitre, grâce aux avancées technologiques proposées par Apple et
                        Google.</p>
                </li>
                <li>
                    <h5>L’USAGE DE LA REALITE AUGMENTEES:</h5>
                    <p>Des informations virtuelles vont être ajoutées à notre perception du réel pour créer une nouvelle
                        réalité « augmentée », entre le monde réel et le monde virtuel, elle est destinée à des usages
                        très variés :</p>
                    <ul class="pb-2">
                        <li><strong>Police :</strong> En Chaine, certains agents de police utilisent des lunettes
                            intelligence disposant
                            d’une caméra et de la reconnaissance faciale4</li>
                        <li><strong>La commerce :</strong> on prend par exemple ce site qui explique l’usage de la
                            réalité augmentée en
                            commerce.
                            Le lien : <a
                                href="https://hapticmedia.fr/blog/realite-augmentee/">https://hapticmedia.fr/blog/realite-augmentee/</a>
                        </li>
                        <li><strong>Les jeux Vidéos :</strong> vous pouvez trouver nombreux jeux vidéo qui dépendent sur
                            la réalité
                            augmentée pour créer des jeux qui permettent le joueur au jouer comme la réalité je propose
                            ce
                            site qui situe quelques jeux.
                            Le lien : <a
                                href="https://thinkmobiles.com/blog/fr/best-augmented-reality-games-fr/">https://thinkmobiles.com/blog/fr/best-augmented-reality-games-fr/</a>
                        </li>
                        <li><strong>Education :</strong> Les applications simples sur tablettes ou smartphone permettent
                            d’envisager son
                            utilisation par les élèves eux-mêmes dans le cadre de la co-construction des outils
                            d’apprentissage.</li>
                        <li><strong>Sciences :</strong> la réalité augmentée devient un outil pour les scientifiques et
                            notamment dans le
                            domaine médical regardez :
                            Le lien
                            : <a
                                href="https://www.latribune.fr/technosmedias/informatique/20100408trib000496561/la-realite-augmentee-au-service-de-la-medecine.html">https://www.latribune.fr/technosmedias/informatique/20100408trib000496561/la-realite-augmentee-au-service-de-la-medecine.html</a>
                        </li>
                        <li><strong>L’industrie :</strong> dans l’industrie la réalité augmentée devient un excellent
                            moyen de promouvoir
                            un projet « usine, chaine de production, produits ».</li>
                    </ul>
                </li>
                <li>
                    <h5>QUELQUES APPLICATIONS MOBILES DE LA REALITE AUGMENTEE:</h5>
                    <p>Il y a plusieurs applications de la réalité augmentée on peut prendre par exemple le lien suivant
                        qui propose des meilleures applications de la réalité augmenté :</p>
                    <p> lien : <a
                            href="https://thinkmobiles.com/blog/fr/best-augmented-reality-games-fr/">https://thinkmobiles.com/blog/fr/best-augmented-reality-games-fr/</a>
                    </p>
                </li>
                <li>
                    <h5>COMMENT J’AI MIS EN PLACE PERSONNELLEMENT MA VEILLE TECHNOLOGIQUE :</h5>
                    <p>Après que j’ai choisi le sujet de ma veille technologique je dois chercher sur les informations
                        en dépend sur plusieurs outils comme « Internet, les réseaux sociaux…, » et quelques sites «
                        <strong>
                            PHPToday.org, Développez.com, Korben, Synbioz, …</strong> ». Et en fin je dois partager les
                        informations
                        de la veille technologique par la création d’un blog ou d’un site internet, avec lequel, qui
                        sera très facile à mettre en place et a utilisé.
                    </p>
                    <p>Que doit contenir mon site internet :</p>
                    <ul class="pb-2">
                        <li>Accueil, avec mes objectifs pour ce site</li>
                        <li>Une présentation de moi, similaire à celle de parcours personnel</li>
                        <li>Mon parcours, avec curriculum vitae, mes formations et mon perspective d’avenir</li>
                        <li>Mes travaux réaliser en BTS, en stage.</li>
                        <li>Veille technologique avec les différents articles</li>
                        <li>Contact, permettant aux entreprises de me contacter.</li>
                    </ul>
                </li>
            </ol>
        </li>
        <li class="pt-2">
            <h3>RESUME SOMMAIRE DE L’ARTICLE</h3>
            <p>Dans cet article on a traité quatre chapitres le premier est « <strong>Qu’est-ce qu’une Veille
                    Technologique</strong> »
                dans ce chapitre on a vu la définition de la veille technologique et un exemple d’un étudiant en BTS SIO
                sur le sujet de « Cybersécurité », le deuxième chapitre sous-titre « <strong>Comment mettre en place la
                    veille
                    technologique</strong> », par trois étapes ; la première est «mise en place des outils », on a vu
                quelque outils
                pour mettre en place la veille technologique, la deuxième étape est « organiser et trier les
                informations » ; par la méthode de Cloud Personnel à la base de Next Cloud pour organiser les idées et
                la dernière étape de « Finalisation et partage des informations » ; par des méthodes différents, par
                exemple publier l’article sur les réseaux sociaux ou créer un site web ou un blog.</p>
            <p>Après on a attaqué le troisième chapitre, pour traiter mon sujet de la veille technologique :« <strong>la
                    réalité
                    augmentée</strong> », et pour cela on a vu 6 parties ; on a commencé par une courte définition de ce
                thème, puis
                l’histoire de la réalité augmentée, ensuite la première étape de la réalité augmenté (Les marqueurs),
                aussi certains domaines d’utilisation de cette invention, sans oublier quelques applications de la
                réalité augmentée, et finalement la partie de la manière que j’utiliserai pour mettre en place
                personnellement ma veille technologique (par la création de site web en respectant quelques étapes,
                regardez sous-titre 3.6). Ce résumé sommaire est le quatrième et dernier chapitre de cet article.</p>
        </li>
    </ol>
</div>