<h2 class="title text-center text-uppercase pb-5">
    PPE
</h2>
<div class="container text-justify pb-5">
    <p>Pour les sio1 slam, il faut réaliser un client léger (mysql, php) avec :</p>
    <ul>
        <li class="pt-2">
            Une authentification (session) ;
            <ul>
                <li>création d’un compte admin avec tous les droits (CRUD – create, read, update, delete) ; </li>
                <li>utilisateurs avec seulement des droits de consultations ; </li>
            </ul>
        </li>
        <li class="pt-4">réalisation de formulaires qui permettront de visualiser des requêtes sql ;<br>
            <p class="pt-2">Les formulaires peuvent être
                constitués de :</p>
            <ul>
                <li>champs texte ;</li>
                <li>zone de texte ;</li>
                <li> d’option (radio) ;</li>
                <li>case à cocher ;</li>

                <li>liste déroulante à sélection simple ou multiple.</li>
            </ul>
            <p class="pt-2">Les requêtes peuvent être constituées de clause :</p>
            <ul>
                <li>select d’une ou plusieurs colonnes ;</li>
                <li>select d’une ou plusieurs colonnes avec une ou plusieurs lignes ;</li>
                <li>select avec like ;</li>
                <li>select avec month, year, maintenant() ;</li>
                <li>select avec order by ;</li>
                <li>select avec un ou plusieurs agrégats (count, sum, max, min, avg) ;</li>
                <li>select avec group by ;</li>
                <li>select avec group by having ;</li>
                <li>select avec not in ;</li>
                <li>delete ;</li>
                <li>update ;</li>
                <li>insert ;</li>
                <li>create ;</li>
            </ul>
        </li>
    </ul>
</div>