<h2 class="title text-center text-uppercase pb-5">Curriculum Vitae</h2>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/assets/images/telechargement.png" alt="logo d'ecole">
        </div>
        <div class="col text-justify">
            <p>Le BTS SIO ( Services Informatiques aux Organisations à été créé en 2011,
                anciennement connu sous le nom
                de BTS IG ( Informatique de Gestion ).

                <br>Ce BTS nous offre 2 options :
            </p>
            <ul>
                <li>SISR « solutions d’infrastructures, systèmes et réseaux »</li>
                <li>SLAM « solutions logicielles et applications métiers »</li>
            </ul>
            <p>J’ai choisi l’option SLAM qui est plus porté sur les solutions logicielles et applicatives (
                développement de
                logiciels personnalisés, de sites web ).
                Option SLAM:</p>
        </div>
    </div>
    <div class="pt-5 pb-5 text-justify">


        <p>L’élève aura pour but de participer à la production et à la fourniture de services informatiques aux
            organisations, soit en tant que collaborateur de l’organisation soit en tant qu’intervenant d’une société de
            conseil et de services informatiques, d’un éditeur de logiciels ou d’une société de conseil en technologies.
        </p>

        <p>Dans le cadre de l’option SLAM (Solutions Logicielles et Applications Métiers), le titulaire du diplôme
            intervient plus particulièrement dans :</p>

        <ul>

            <li>la définition des spécifications techniques à partir de l’expression des besoins des utilisateurs et des
                contraintes de l’organisation préalablement recensés ;</li>
            <li>la réalisation ou l’adaptation puis la validation de solutions applicatives à l’aide des environnements
                de
                développement retenus ;</li>
            <li>la gestion du patrimoine applicatif ;</li>
            <li>la rédaction de la documentation d’une solution applicative et la formation des utilisateurs ;</li>
            <li>la recherche de réponses adaptées à des problèmes liés à la fourniture des services informatiques ;</li>
            <li>l’accompagnement et l’assistance des utilisateurs ;</li>
            <li>le maintien de la qualité des services informatiques.</li>
        </ul>
    </div>
</div>