<h2 class="title text-center text-uppercase">Nous contacter</h2>
<div class="container">
    <div class="row">
        <!--Description part-->
        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="feature-description">
                <div class="info info-horizontal">
                    <div class="description mb-5">
                        <p class="description">Avez vous besoin d'une information, d'une assistance?
                            <br>Nous sommes très réactifs, écrivez-nous et nous vous répondrons dans les meilleurs
                            délais.
                        </p>
                        <!-- <br>Trouvez ici nos différents moyens de contact.</p> -->
                    </div>
                </div>
                <hr>
                <div class="info info-horizontal row">
                    <div class="icon icon-primary">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h4 class="reponsive-text-3 info-title ">Retrouvez-nous au bureau</h4>
                        <p class="reponsive-text-4 description">140 Rue Robert Koch
                            City, <br>34090
                            Montpellier<br> France
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal row">
                    <div class="icon icon-primary">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h4 class="reponsive-text-3 info-title ">Appelez nous</h4>
                        <p class="reponsive-text-4 description">ZAHRA BOUHASSOUN <br> +33 (0) 94 903 012<br> Sat - Thu,
                            8:00-22:00</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Conatact us section-->
        <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-10 offset-md-1 col-md-10 col-sm-12 col-12 mt30">
            <form>
                <!-- service-form -->
                <div class="service-form">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10 ">
                            <h4 class="info-title">Vous avez une question?</h4>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="name"></label>
                                <input id="name" type="text" placeholder="Nom" class="form-control" required>
                                <div class="form-icon"><i class="fa fa-user"></i></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12  ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="name"></label>
                                <input id="name" type="text" placeholder="Prenom" class="form-control" required>
                                <div class="form-icon"><i class="fa fa-user"></i></div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="email"></label>
                                <input id="email" type="email" placeholder="Email" class="form-control" required>
                                <div class="form-icon"><i class="fa fa-envelope"></i></div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="phone"></label>
                                <input id="phone" type="text" placeholder="Téléphone" class="form-control" required>
                                <div class="form-icon"><i class="fa fa-phone"></i></div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="subject"></label>
                                <input id="subject" type="text" placeholder="Sujet du courriel" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                <label class="control-label sr-only" for="textarea"></label>
                                <textarea class="form-control" id="textarea" name="textarea" rows="6"
                                    placeholder="écrire un message"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <button type="submit" name="singlebutton"
                                class="btn btn-default btn-block mb10">Envoyer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container">
    <iframe src="https://maps.google.com/maps?q=Montpellier&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
</div>
<!--Google Maps-->