<h2 class="title text-center text-uppercase pb-5">Curriculum Vitae</h2>
<div class="container pb-5">
        <p>Télécharger le Curriculum Vitae en français <a href="../../assets/resumes/CV_alternance.pdf"
                        target="blanks" >cliquant
                        ici</a>
        </p>
        <!--<p>Download the Curriculum Vitae in English by <a href="../../assets/resumes/cv_alternance_fr.pdf"
                        target="_self" download="cv_alternance_fr.pdf">clicking
                        here</a>
        </p>-->
        <p>Download the Curriculum Vitae in English by <a href="../../assets/resumes/CV_alternance(en).pdf"
                        target="blanks" >clicking
                        here</a>
        </p>
        <div class="pb-5"></div>
        <div class="pb-5"></div>
        <div class="pb-5"></div>
</div>