<div class="banner p-5">
    <div class="text-center mt-5">
        <h2 class="text-white">PORTFOLIO - BTS SIO OPTION SLAM</h2>
        <p class="text-white">Je suis FATIMA-ZAHRA BOUHASSOUN étudiante en 2 éme année BTS SIO à l’école ESICAD
            Montpellier.</p>
    </div>
</div>
<h2 class="title text-center text-uppercase pt-4 pb-5">Les articles</h2>
<section class="pb-5">
    <div class="container mx-auto px-4">
        <div class="row">
            <div class="col pt-5 px-4 text-center pb-5">
                <div class="relative break-words bg-white  mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5">
                        <h6 class="text-xl font-semibold mb-3">Projet de la vieille technologique</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Sous la direction de Mr Eric Willems. Pour l’obtention du Brevet de Technicien
                            Supérieur-Services aux Organisations à ESICAD Montpellier Qu’est ce que une vielle
                            technologique? Définition : La veille technologique est une activité qui consiste à se tenir
                            au courant des avancés technologique dans le domaine de l’informatique afin de tirer parti
                            de ses avancées
                        </p>
                        <a href="ourservices" class="card-link">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col px-4 text-center">
                <div class="relative  break-words bg-white  mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 ">
                        <h6 class="text-xl font-semibold mb-3">Ma vielle technologique</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            La réalité augmentée Définition: La réalité augmentée est (ou RA) est une technologie qui
                            permet d’intégrer des éléments virtuels en 3D (en temps réel) au sein d’un environnement
                            réel. Le principe est de combiner le virtuel et le réel et donner l’illusion d’une
                            intégration parfaite à l’utilisateur. Voici un vidéo qui vous explique comment fonctionne
                        </p>
                        <a href="ourservices" class="card-link">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col pt-5 px-4 text-center">
                <div class="relative  break-words bg-white  mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 ">
                        <h6 class="text-xl font-semibold mb-3">COMMENT J’AI MIS EN PLACE PERSONNELLEMENT MA VEILLE
                            TECHNOLOGIQUE </h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Après que j’ai choisi le sujet de ma veille technologique je dois chercher sur les
                            informations en dépend sur plusieurs outils comme « Internet, les réseaux sociaux…, » et
                            quelques sites « PHPToday.org, Développez.com, Korben, Synbioz, … ». Et en fin je dois
                            partager les informations de la veille technologique par la création d’un blog ou d’un site
                        </p>
                        <a href="ourservices" class="card-link">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>